<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FCC Poll App</title>
    
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/create-poll-new.css">
  </head>
  <body>
    
    <div id="create-poll"></div>
    
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/browser-polyfill.min.js"></script>
    <script src="/lib/browser.min.js"></script>
    <script src="/lib/react-0.14.7.min.js"></script>
    <script src="/lib/react-dom-0.14.7.min.js"></script>
    <script type="text/babel" src="/javascripts/create-poll-new.js"></script>
  </body>
</html>


